<section class="side-nav">
    <div class="top-nav">

        <div class="img">
            <img src="assets/logo.png" alt="img">
        </div>
        <button>
            <mat-icon>home</mat-icon>
        </button>
        <button class="active">
            <mat-icon>insert_chart</mat-icon>
        </button>
        <button>
            <mat-icon ou>filter_none</mat-icon>
        </button>
        <button>
            <mat-icon>check_box</mat-icon>
        </button>
        <button>
            <mat-icon>pie_chart</mat-icon>
        </button>
        <button>
            <mat-icon>person</mat-icon>
        </button>
    </div>
    <div class="bottom-nav">
        <button>
            <mat-icon>support</mat-icon>
        </button>
        <button>
            <mat-icon>settings</mat-icon>
        </button>
        <div class="img">
            <img src="assets/dummy-user.png" alt="img">
        </div>
    </div>
</section>